version: 2.1
orbs:
  gh: circleci/github-cli@2.2.0
  jq: circleci/jq@2.2.0
  android: circleci/android@3.1.0
filters: &release
  branches:
    ignore: /.*/
  tags:
    only: /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
jobs:
  build:
    working_directory: ~/betteruntis
    executor:
      name: android/android_machine
      resource_class: large
      tag: 2023.10.1
    steps:
      - checkout
      - android/restore_gradle_cache
      - run:
          name: Download Dependencies
          command: ./gradlew --no-daemon androidDependencies
      - run:
          name: Prepare signing config
          command: |
            if [[ ! -v KEYSTORE_ENCODED ]]; then exit 0; fi
            echo $KEYSTORE_ENCODED | base64 --decode >> app/BetterUntis.jks
            echo 'export KEYSTORE_PASSWORD=$(echo "$KEYSTORE_PASSWORD_ENCODED" | base64 --decode)' >> $BASH_ENV
            echo 'export KEY_DEBUG_PASSWORD=$(echo "$KEY_DEBUG_PASSWORD_ENCODED" | base64 --decode)' >> $BASH_ENV
            echo 'export KEY_RELEASE_PASSWORD=$(echo "$KEY_RELEASE_PASSWORD_ENCODED" | base64 --decode)' >> $BASH_ENV
      - run:
          name: Initial build
          command: ./gradlew --no-daemon assemble bundle
          environment:
            GRADLE_OPTS: '
              -Dorg.gradle.daemon=false
              -Dorg.gradle.parallel=true
              -Dorg.gradle.workers.max=3
              -Dkotlin.incremental=false
            '
      - android/save_gradle_cache
      - store_artifacts:
          name: Upload build artifacts
          path: app/build/outputs
          destination: outputs
      #      - run:
      #          name: Run Tests
      #          command: ./gradlew lint test
      #      - store_artifacts:
      #          name: Upload test artifacts
      #          path: app/build/reports
      #          destination: reports
      #      - store_test_results:
      #          name: Upload test results
      #          path: app/build/test-results
      - run:
          name: Preparing workspace
          command: |
            mkdir -p workspace
            cp -r app/build/outputs workspace/outputs
      - persist_to_workspace:
          root: workspace
          paths:
            - outputs
  deploy_debug:
    docker:
      - image: cimg/base:stable
    working_directory: ~/betteruntis
    steps:
      - run:
          name: Check for deployability
          command: |
            if [[ ! -v SSH_DEPLOY_HOST ]]; then
              circleci-agent step halt
            fi
      - attach_workspace:
          at: workspace
      - run:
          name: Deploy Debug Builds Over SSH
          command: |
            echo $SSH_DEPLOY_KEY_ENCODED | base64 --decode > id_rsa
            chmod 600 id_rsa
            scp -r -P $SSH_DEPLOY_PORT -i id_rsa -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null workspace/outputs/apk/gms/debug "$SSH_DEPLOY_USER@$SSH_DEPLOY_HOST:$SSH_DEPLOY_PATH/debug/$CIRCLE_BUILD_NUM"
  deploy_release:
    docker:
      - image: cimg/base:stable
    working_directory: ~/betteruntis
    steps:
      - run:
          name: Check for deployability
          command: |
            if [[ ! -v SSH_DEPLOY_HOST ]]; then
              circleci-agent step halt
            fi
      - attach_workspace:
          at: workspace
      - run:
          name: Deploy Release Builds Over SSH
          command: |
            echo $SSH_DEPLOY_KEY_ENCODED | base64 --decode > id_rsa
            chmod 600 id_rsa
            scp -r -P $SSH_DEPLOY_PORT -i id_rsa -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null workspace/outputs/apk/gms/release "$SSH_DEPLOY_USER@$SSH_DEPLOY_HOST:$SSH_DEPLOY_PATH/release/$CIRCLE_TAG"
            scp -P $SSH_DEPLOY_PORT -i id_rsa -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null workspace/outputs/mapping/gmsRelease/* "$SSH_DEPLOY_USER@$SSH_DEPLOY_HOST:$SSH_DEPLOY_PATH/release/$CIRCLE_TAG/"

  deploy_fastlane:
    docker:
      - image: cimg/ruby:3.1.2
    working_directory: ~/betteruntis
    parameters:
      track:
        type: string
        default: 'beta'
    steps:
      - checkout
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run:
          name: Update Gems
          command: bundle check || bundle install
      - save_cache:
          paths:
            - vendor/bundle
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - attach_workspace:
          at: workspace
      - run:
          name: Deploy to Play Store
          command: |
            echo $GOOGLE_PLAY_KEY_ENCODED | base64 --decode > fastlane/key.json
            for f in fastlane/metadata/android/*/changelogs; do [[ -e "$f/$CIRCLE_TAG.txt" ]] && cp "$f/$CIRCLE_TAG.txt" "$f/default.txt"; done;
            bundle exec fastlane deploy aab:'workspace/outputs/bundle/gmsRelease/app-gms-release.aab' track:<<parameters.track>>

  deploy_github:
    docker:
      - image: cimg/base:stable
    working_directory: ~/betteruntis
    steps:
      - gh/setup
      - checkout
      - attach_workspace:
          at: workspace
      - run:
          name: Deploy Release to GitHub
          command: |
            gh release create $CIRCLE_TAG --prerelease --title "BetterUntis $CIRCLE_TAG" --notes-file "./fastlane/metadata/android/en-US/changelogs/$CIRCLE_TAG.txt" "./workspace/outputs/apk/gms/release/app-gms-release.apk#BetterUntis $CIRCLE_TAG.apk"

  deploy_fdroid:
    docker:
      - image: cimg/base:stable
    working_directory: ~/betteruntis
    steps:
      - checkout
      - jq/install
      - attach_workspace:
          at: workspace
      - run:
          name: Prepare release for F-Droid
          command: |
            git config user.email "ci@sapuseven.com"
            git config user.name "CircleCI"
            
            git checkout -B release
            git reset --hard HEAD~1
            git merge $CIRCLE_TAG
            
            versionCode=$(jq '.elements[0].versionCode' ./workspace/outputs/apk/gms/release/output-metadata.json)
            sed -i "s/versionCode generateVersionCode()/versionCode $versionCode/" ./app/build.gradle

            git add ./app/build.gradle
            git commit -m "[skip ci] Update F-Droid release"
            git tag fdroid-$CIRCLE_TAG
            git push --force --set-upstream origin release
            git push origin fdroid-$CIRCLE_TAG
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              ignore: /^fdroid-.*/
      - deploy_debug:
          requires:
            - build
          filters:
            branches:
              only: develop
      - deploy_release:
          requires:
            - build
          filters: *release
      - deploy_fastlane:
          requires:
            - build
          filters: *release
      - deploy_fastlane:
          name: deploy_fastlane_material3
          requires:
            - build
          filters:
            branches:
              #only: 287-material-design-3
              ignore: /.*/ # Disables this job. Remove this line if you enable the branch above.
          track: 'material-3'
      - deploy_github:
          requires:
            - build
          filters: *release
      - deploy_fdroid:
          requires:
            - build
          filters: *release
